/*Web fonts*/
@font-face {
    font-family: "Karla";
      src: url('../fonts/karla/Karla-Regular.ttf') format('truetype');
    font-family: "fjalla_one";
      src: url('../fonts/Fjalla_One/FjallaOne-Regular.ttf')format('truetype')
      
  }
  
  * {
        box-sizing: border-box; 
        font-family: "Karla",Arial, Helvetica, sans-serif;   
  }

  .clearfix::after {
    content: "";
    clear: both;
    display: table;
}
 
  /* Base Styles -------------------- */
  .portfolio{
    text-align: center;
    padding-top: 3em;
    padding-bottom: 2em;

  }
  body{
    background-color: #d0d5db;
  }

  .main{
    background-color: white;
  }
  /* Setting the font sizing for the entire webpage's headings */
  h1,
  h2,
  h3 { 
    font-family: 'fjalla_one',Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2em;
    margin: 0.5em;
  }


  img{
    width: 95%;
    height: 40%;
  }
/* setting the font sizing for the commentary/text within the webpage */
  p {
    font-family: "Karla",Arial, Helvetica, sans-serif;  
    font-size: 1em;
    
  }
  /* Containers */
  /* main content container */
  .container{
    width: 95%;
    margin: 0 auto;
    text-align: center;
  }
  .skills-container {
    width: 95%;
    margin: 0 auto;
    text-align: center;
  }

  /* wrapping the footer */
  .wrap {
    width:100%;
    padding-top: 30px;
    text-align: center;
  
  }

  .main-header {
    width: 95%;
    margin: 0 auto;
  }

/* Main Header */
.main-header{
  text-align: center;
  
}
.image-padding{
  padding: 1em;
}

.profile-img {
  width: 60%;
  height:50%;
  padding-top: 30px;
}
.main-nav{
  font-weight: bold;
  margin: 5px;
  
}
.main-nav li {
  margin: 10px;
  background-color: white;
}
.main-nav a {
  padding: 10px 5px;
  display: block;
}

/* footer navigation */
.footer {
  
  border-top: 5px;
}
.footer-title,
.wrap p,
.wrap li{
  padding:10px;
}
.contact {
  margin-top:3em;
}

.name-bottom{
  font-size: 1.2em;
  font-weight: bold;
  float:left;
  padding-left: 15px;
  margin-bottom: 5px;
}
.closing-text{
  margin: 0 4em;
}
.To-Top{
  float: right;
  display: block;
  width: 50%;
  text-align: right;
  color: rgb(127,127,127);
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
}

.bottom-nav{
  font-weight: bold;
  margin: 5px;
  display: none;  
}
.bottom-nav li {
  margin: 10px;
  background-color: white;
}
.bottom-nav a {
  padding: 10px 5px;
  display: block;
}

/* Content formatting */
.calculator{
  padding-bottom: 20px;
}

.skills-list li {
  background-color: white;
  margin: 5px;
}
.skills-list a {
  padding: 10px 5px;
  display: block;

}

/* media queries for table sized page */
@media (min-width: 768px) {
  h3 {
    font-size: 1.5em;
  }
  p {
    font-size: 1.1em;
  }
  .image-commentary{
    padding: 0 10px;
  }
  .wrap p {
    padding: 5px;
  }
  .portfolio {
    padding: 20px;
  }

  .left-float {
    width: 50%;
    float:left;
  }
  .right-float{
    width: 50%;
    float:right;

  }
  .main-nav li{
    display: inline-block;
    background-color: inherit;
    padding: 0 10px;
    text-transform: uppercase;
  }

  .profile-img {
    float:right;
    width: 40%;
    height: 50%;
    padding: 5px;
  }
  .main-text {
    float: left;
    width: 60%;
    font-size: 1.5em;
    text-align: left;
  }
  .closing-text{
    margin: 0 200px;
  }
  .skills-list li{
    margin-top:1em;
  }
}

@media (min-width: 1024px) {
  .left-float-max {
    width: 33%;
    float:left
  }
  .right-float-max{
    width: 33%;
    float: right;
  }
  .student-name{

    float: left;
  }
  .main-nav{
    float:right;
  }
  .laptop-header {
    padding-top: 30px;
  }
  .To-Top{
    display: none;
  }
  .bottom-nav {
    display: inherit;
    float:right;
    font-size: 15px;
  }
  .bottom-nav li {
    display: inline-block;
    padding: 0;
    background-color:inherit;
  }
}